*{
    margin: 0;
}

/* Header */
header{
    border: solid red;
}

header nav{
    display: flex;
    background-color: lightskyblue;
    height: 80px;
    border: solid green;
    justify-content: space-around;

}

header section{
    display: flex;
    background-color: lightskyblue;
    height: 300px;
    border: solid green;
    flex-direction: column;
    align-items: center;
}

header nav div{
    display: flex;
    border: blue solid;
    margin: 10px;
    align-items: center;
}

header section div{
    border: solid blue;
    height: 300px;
    margin: 20px;
}

.buttons{
    object-fit: contain;
}


/* Main */

main section div div{
    border: solid red;
    height: 600px;
}

main section:nth-child(even){
    background-color: lightgray;
}

main section div{
    display: flex;
    padding: 20px;
    border: solid red;
    justify-content: center;
    text-align: center;
}

main section div div{
   border: solid red; 
   height: 300px;
   width: 400px;
   background-color: gray;
   margin: 0;
}

main article div{
    margin: auto;
    padding: 100px 100px 20px;
    border: solid red;

}

main article div div{
    border: solid red;
    height: 100px;
    background-color: gray;
}

.bottone{
    margin-top: 10px;
}

/* Footer */

footer{
height: 300px;
border: solid red;

}

footer section {
    display: flex;
    border: solid green;
    background-color: darkgray;
    align-items: baseline;
    justify-content: space-around;
    padding-top: 20px;
}

.link{
    height: 70%;
}

.registrati{
    height: 30%;
}

footer section div{
    border: solid blue;
    display: flex;
    justify-content: space-around;
    
}



